MTLWB.MTService/Service References/TranslationServiceLoc/translation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/MSNSearch/2005/09/fex" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/MSNSearch/2005/09/fex" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mtloc.live-int.com:84/translation?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Translate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Request" type="tns:TranslationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TranslationRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Texts" nillable="true" type="tns:ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="Url" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LangPair" type="tns:LanguagePair" />
      <xs:element minOccurs="0" maxOccurs="1" name="AppID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransformID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DomainID" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="1" maxOccurs="1" name="CustomizationIDs" nillable="true" type="q1:ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassportID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProviderID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RequestOptions" type="tns:RequestOptionMask" />
      <xs:element minOccurs="0" maxOccurs="1" name="Reserved" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LanguagePair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SourceLanguage" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TargetLanguage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RequestOptionMask">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="CacheOnly" />
      <xs:enumeration value="NoCache" />
      <xs:enumeration value="ConfidenceScoreRequired" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TranslateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="TranslateResult" nillable="true" type="tns:TranslationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TranslationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Translations" type="tns:ArrayOfTItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProviderID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Error" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfTItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TItem" type="tns:TItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Text" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Score" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Error" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTranslationSystems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Request" type="tns:TranslationSystemRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TranslationSystemRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AppID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LangPairFilter" type="tns:LanguagePair" />
      <xs:element minOccurs="0" maxOccurs="1" name="DescriptionLanguage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTranslationSystemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTranslationSystemsResult" type="tns:TranslationSystemResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TranslationSystemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TranslationSystems" type="tns:ArrayOfTSItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfTSItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TSItem" type="tns:TSItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="LangPair" type="tns:LanguagePair" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetErrorString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Request" type="tns:ErrorRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ErrorRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Error" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetErrorStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetErrorStringResult" type="tns:ErrorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ErrorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorString" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>