MTLWB.MTService/Service References/TranslationServiceLoc/translation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.microsoft.com/MSNSearch/2005/09/fex" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/MSNSearch/2005/09/fex" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.microsoft.com/MSNSearch/2005/09/fex/Imports">
      <xsd:import schemaLocation="http://mtloc.live-int.com:84/translation?xsd=xsd0" namespace="http://schemas.microsoft.com/MSNSearch/2005/09/fex" />
      <xsd:import schemaLocation="http://mtloc.live-int.com:84/translation?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TranslateRequest">
    <wsdl:part name="parameters" element="tns:Translate" />
  </wsdl:message>
  <wsdl:message name="TranslateResponse">
    <wsdl:part name="parameters" element="tns:TranslateResponse" />
  </wsdl:message>
  <wsdl:message name="GetTranslationSystemsRequest">
    <wsdl:part name="parameters" element="tns:GetTranslationSystems" />
  </wsdl:message>
  <wsdl:message name="GetTranslationSystemsResponse">
    <wsdl:part name="parameters" element="tns:GetTranslationSystemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetErrorStringRequest">
    <wsdl:part name="parameters" element="tns:GetErrorString" />
  </wsdl:message>
  <wsdl:message name="GetErrorStringResponse">
    <wsdl:part name="parameters" element="tns:GetErrorStringResponse" />
  </wsdl:message>
  <wsdl:portType name="ITranslationServiceContract">
    <wsdl:operation name="Translate">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/MSNSearch/2005/09/fex/Translate" name="TranslateRequest" message="tns:TranslateRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/MSNSearch/2005/09/fex/TranslateResponse" name="TranslateResponse" message="tns:TranslateResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetTranslationSystems">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/MSNSearch/2005/09/fex/GetTranslationSystems" name="GetTranslationSystemsRequest" message="tns:GetTranslationSystemsRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/MSNSearch/2005/09/fex/GetTranslationSystemsResponse" name="GetTranslationSystemsResponse" message="tns:GetTranslationSystemsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetErrorString">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/MSNSearch/2005/09/fex/GetErrorString" name="GetErrorStringRequest" message="tns:GetErrorStringRequest" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/MSNSearch/2005/09/fex/GetErrorStringResponse" name="GetErrorStringResponse" message="tns:GetErrorStringResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>