TranslationServices.Core/Service References/CtfReportingService/CtfReporting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://api.microsofttranslator.com/V2" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.microsofttranslator.com/V2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://api.microsofttranslator.com/V2/Imports">
      <xsd:import schemaLocation="http://api.microsofttranslator.com/V2/Beta/CtfReporting.svc?xsd=xsd0" namespace="http://api.microsofttranslator.com/V2" />
      <xsd:import schemaLocation="http://api.microsofttranslator.com/V2/Beta/CtfReporting.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://api.microsofttranslator.com/V2/Beta/CtfReporting.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.MT.Web.Service.V2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CtfReportingService_GetUserTranslations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTranslations" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_GetUserTranslations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTranslationsResponse" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_GetUserTranslationCounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTranslationCounts" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_GetUserTranslationCounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTranslationCountsResponse" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_CreateUserAuthority_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserAuthority" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_CreateUserAuthority_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserAuthorityResponse" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_GetUserAuthority_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAuthority" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_GetUserAuthority_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAuthorityResponse" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_GetUserAuthorities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAuthorities" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_GetUserAuthorities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAuthoritiesResponse" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_DeleteUserAuthority_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserAuthority" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_DeleteUserAuthority_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserAuthorityResponse" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_UpdateUserAuthority_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserAuthority" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_UpdateUserAuthority_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserAuthorityResponse" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_SubmitTranslation_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitTranslation" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_SubmitTranslation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitTranslationResponse" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_TransferSiteAppId_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferSiteAppId" />
  </wsdl:message>
  <wsdl:message name="CtfReportingService_TransferSiteAppId_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferSiteAppIdResponse" />
  </wsdl:message>
  <wsdl:portType name="CtfReportingService">
    <wsdl:operation name="GetUserTranslations">
      <wsdl:input wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/GetUserTranslations" message="tns:CtfReportingService_GetUserTranslations_InputMessage" />
      <wsdl:output wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/GetUserTranslationsResponse" message="tns:CtfReportingService_GetUserTranslations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTranslationCounts">
      <wsdl:input wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/GetUserTranslationCounts" message="tns:CtfReportingService_GetUserTranslationCounts_InputMessage" />
      <wsdl:output wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/GetUserTranslationCountsResponse" message="tns:CtfReportingService_GetUserTranslationCounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserAuthority">
      <wsdl:input wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/CreateUserAuthority" message="tns:CtfReportingService_CreateUserAuthority_InputMessage" />
      <wsdl:output wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/CreateUserAuthorityResponse" message="tns:CtfReportingService_CreateUserAuthority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAuthority">
      <wsdl:input wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/GetUserAuthority" message="tns:CtfReportingService_GetUserAuthority_InputMessage" />
      <wsdl:output wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/GetUserAuthorityResponse" message="tns:CtfReportingService_GetUserAuthority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAuthorities">
      <wsdl:input wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/GetUserAuthorities" message="tns:CtfReportingService_GetUserAuthorities_InputMessage" />
      <wsdl:output wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/GetUserAuthoritiesResponse" message="tns:CtfReportingService_GetUserAuthorities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserAuthority">
      <wsdl:input wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/DeleteUserAuthority" message="tns:CtfReportingService_DeleteUserAuthority_InputMessage" />
      <wsdl:output wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/DeleteUserAuthorityResponse" message="tns:CtfReportingService_DeleteUserAuthority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAuthority">
      <wsdl:input wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/UpdateUserAuthority" message="tns:CtfReportingService_UpdateUserAuthority_InputMessage" />
      <wsdl:output wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/UpdateUserAuthorityResponse" message="tns:CtfReportingService_UpdateUserAuthority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitTranslation">
      <wsdl:input wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/SubmitTranslation" message="tns:CtfReportingService_SubmitTranslation_InputMessage" />
      <wsdl:output wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/SubmitTranslationResponse" message="tns:CtfReportingService_SubmitTranslation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferSiteAppId">
      <wsdl:input wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/TransferSiteAppId" message="tns:CtfReportingService_TransferSiteAppId_InputMessage" />
      <wsdl:output wsaw:Action="http://api.microsofttranslator.com/V2/CtfReportingService/TransferSiteAppIdResponse" message="tns:CtfReportingService_TransferSiteAppId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>