TranslationServices.Core/Service References/CtfReportingService/CtfReporting1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.MT.Web.Service.V2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.MT.Web.Service.V2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserTranslation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTranslation" nillable="true" type="tns:UserTranslation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTranslation" nillable="true" type="tns:ArrayOfUserTranslation" />
  <xs:complexType name="UserTranslation">
    <xs:sequence>
      <xs:element name="Uri" nillable="true" type="xs:string" />
      <xs:element name="User" nillable="true" type="xs:string" />
      <xs:element name="From" nillable="true" type="xs:string" />
      <xs:element name="To" nillable="true" type="xs:string" />
      <xs:element name="Rating" type="xs:int" />
      <xs:element name="OriginalText" nillable="true" type="xs:string" />
      <xs:element name="TranslatedText" nillable="true" type="xs:string" />
      <xs:element name="CreatedDateUtc" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTranslation" nillable="true" type="tns:UserTranslation" />
  <xs:complexType name="ArrayOfUserTranslationCount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTranslationCount" nillable="true" type="tns:UserTranslationCount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTranslationCount" nillable="true" type="tns:ArrayOfUserTranslationCount" />
  <xs:complexType name="UserTranslationCount">
    <xs:sequence>
      <xs:element name="Uri" nillable="true" type="xs:string" />
      <xs:element name="User" nillable="true" type="xs:string" />
      <xs:element name="From" nillable="true" type="xs:string" />
      <xs:element name="To" nillable="true" type="xs:string" />
      <xs:element name="Rating" type="xs:int" />
      <xs:element name="Count" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTranslationCount" nillable="true" type="tns:UserTranslationCount" />
  <xs:complexType name="UserAuthority">
    <xs:sequence>
      <xs:element name="User" nillable="true" type="xs:string" />
      <xs:element name="Authority" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAuthority" nillable="true" type="tns:UserAuthority" />
  <xs:complexType name="ArrayOfUserAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserAuthority" nillable="true" type="tns:UserAuthority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserAuthority" nillable="true" type="tns:ArrayOfUserAuthority" />
</xs:schema>